<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TwitterConsumerKey</key>
	<string>freR5N4I8XWQMhAkD7Li22Zd1</string>
	<key>TwitterSecretKey</key>
	<string>kr83gcoi4jaGcCFuSNzNXeOJD0jt2b68tZdA4SKipDhkbR3vRa</string>
</dict>
</plist>
